<!DOCTYPE html>
<html>
  <head>
    <title>GhostSwarm Controller</title>
    <link rel="stylesheet" href="/style.css" />
    <script src="https://d3js.org/d3.v7.min.js"></script>
  </head>
  <body>
    <div id="graphWrapper">
      <svg id="swarmGraph" width="800" height="500"></svg>
    </div>

    <div id="rightSidePanel">
      <a href="upload.html">
        <!-- svg for upload icon -->
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
        >
          <path
            d="M12 2l-6 6h4v6h4v-6h4l-6-6zm0 16c-3.31 0-6 2.69-6 6h12c0-3.31-2.69-6-6-6z"
          />
        </svg>
      </a>
      <a href="torrents.html">
        <!-- svg for torrent icon the u -->
        <icon> µ </icon>
      </a>
      <a href="settings.html"> <icon>⚙️</icon> </a>
    </div>

    <div id="sidePanel">
      <h2>Send Command</h2>
      <form id="cmdForm">
        <label>Bot ID:</label>
        <input type="text" id="botId" required />

        <label>Command:</label>
        <input type="text" id="cmdInput" placeholder="e.g. uptime" required />

        <button type="submit">Send</button>
        <pre id="cmdOutput"></pre>
      </form>
    </div>
    <script src="/index.js"></script>
  </body>
</html>
